<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.demographicstuff">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSxWIBN-w_IAhnkUkbtSv_MtQKqv5wkto"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".app_demographic.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstPageActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".FirstPageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app_tickets.CreateTicketActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".CreateTicketActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app_usage.AppWifiUsage" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".AppWifiUsage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".app_usage.AppMobileUsage" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".AppMobileUsage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LiveConditions"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".LiveConditions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".app_map.MapActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".MapActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".rating_notification.Button_listener">
            <intent-filter>
                <action android:name="button_click"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".rating_notification.AlarmReceiver">
            <intent-filter>
                <action android:name=".DISPLAY_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".app_live_conditions.LocationDataCollectionServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name=".restartService"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".app_live_conditions.DataCollectionJobSchedule"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service
            android:name=".app_live_conditions.LocationDataCollectionJobSchedule"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name=".app_live_conditions.LocationService"/>
    </application>

</manifest>